* {
 margin:0;
}
body{
    background-color:white;
}
header{
    width:100%;
    background-color:burlywood;
    height:50px;
    box-shadow: 10px 10px 10px solid black;
}
.button{
    border:none;
    background-color:transparent;
    width:250px;
    height: 40px;
    margin-left:1350px;
 transform: translateY(-103px);
 border-radius: 2px;
 cursor:pointer;
 font-size: 18px;
 border:1px solid black;
}
.shua{
    margin-left:700px;
    transform: translateY(-70px);
}
.shua a{
    color:aliceblue;
    text-decoration: none;
    margin:20px;
}
.marcxena img{
    width: 50px;
    height: 50px;
    margin-left:20px;
    border-radius: 10px;
}
.logoname{
    margin-left:80px;
    transform: translateY(-45px);
    font-size: 30px;
    cursor: pointer;
    color:aliceblue;
}
.luks{
    padding:5px;
    font-size:20px;
}
/*finish header*/
/*start main*/
.charcho{
    border:none;
    width:350px;
    height: 350px;
    border: 2px solid black;
    background-color: antiquewhite;
    border-radius: 10px;
    margin-left: 1150px;
    transform: translateY(100px);
}
.search{
   margin-top: -1px;
    padding:10px;
    border: none;
    width: 310px;
    height: 25px;
    border-radius:5px;
   font-size:17px;
}
.button2{
    margin-top: 90px;
    width: 200px;
    height: 30px;
    cursor:pointer;
    font-size:14px;
}
.password{
    text-decoration:none;
    transform: translateY(-10px);
}
#account{
    text-decoration: none;
    background-color: bisque;
    width: 400px;
    height: 50px;
    border:none;
    border-radius: 50px;
    font-size:15px;
    cursor:pointer;
    color: black;
}
.button3{
    width: 200px;
    height:50px;
    border:none;
}
/*finish main*/

.right{
    font-size:80px;
    font-family:'Times New Roman', Times, serif;
    margin-top:-300px;
    margin-left:300px;
}
.connect{
    border:none;
    font-size:25px;
    margin-left:300px;
}
/* start footer */
.bolo{
    margin-top:37%;
    width: 100%;
    height: 120px;
    background-color:whitesmoke;
}
.bolo a{
    margin-left: -580px;
}